/* Text Elements */

h1 span.heading-text-1 {
  color: #f5eeee;
  font-size: 1.625rem;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

h1 a.heading-text-3 {
  color: #fff;
}

h3 span.heading-text-2 {
  color: #fff;
}

/* Layout Elements */

body > .row > [class*='small-'].column-1 {
  min-height: 20vmax;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
  background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
  background-image:      -o-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
  background-image:         linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
  background-attachment: scroll, scroll;
  background-position: left top, center center;
  background-clip: border-box, border-box;
  background-origin: padding-box, padding-box;
  background-size: auto auto, cover;
  background-repeat: no-repeat, no-repeat;

  background-blend-mode: normal, normal;
}

body > .row > [class*='small-'].footer {
  background-color: #010000;
}

body > .row.row-2 {
  min-width: 100vmin;
  min-height: 0;
  max-width: 100vmax;
}

body > .row > [class*='small-'].column-2 {
  background-color: #383c4d;
}

.container.gallery-wrapper {
  max-width: 1000px;
}

.container.gallery-content {
  position: relative;
  overflow: hidden;
  margin-top: 5vw;
}

.container.main-image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.container#image-1 {
  z-index: 51;
  display: none;
}

.container#image-2 {
  z-index: 52;
  display: none;
}

.container#image-3 {
  z-index: 53;
  display: block;
}

.container#image-4 {
  z-index: 54;
  display: none;
}

.container#image-5 {
  z-index: 55;
  display: none;
}

.container#image-6 {
  z-index: 56;
  display: none;
}

.container.thumbnails-row {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  padding-top: 10px;
}

.container.thumbnail-cont {
  padding-right: 1px;
  padding-left: 1px;
}

.container.button.thumbnail-cont {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

div.responsive-picture.logo {
  background-image: none;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 0 0;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

div.responsive-picture.main-image {
  margin-top: -80px;
  max-width: none;
  max-height: 350px;
  -webkit-transform: scaleX(1.2) scaleY(1.2);
     -moz-transform: scaleX(1.2) scaleY(1.2);
       -o-transform: scaleX(1.2) scaleY(1.2);
          transform: scaleX(1.2) scaleY(1.2);
}

div.responsive-picture#placer {
  opacity: .1;
}

div.responsive-picture.thumbnail-img {
  opacity: .5;
  -webkit-filter: saturate(1) contrast(1) brightness(1) grayscale(.6);
          filter: saturate(1) contrast(1) brightness(1) grayscale(.6);
  -webkit-transition-duration: .4s;
     -moz-transition-duration: .4s;
       -o-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-property: all;
     -moz-transition-property: all;
       -o-transition-property: all;
          transition-property: all;
}

li.list-item a.list-item-text-1 {
  color: #fff;
}

li.list-item a.list-item-text-2 {
  color: #fff;
}

div.responsive-picture.thumbnail-img:hover {
  opacity: 1;
  -webkit-filter: saturate(1) contrast(1) brightness(1) grayscale(0);
          filter: saturate(1) contrast(1) brightness(1) grayscale(0);
  -webkit-transition-duration: .4s;
     -moz-transition-duration: .4s;
       -o-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-property: all;
     -moz-transition-property: all;
       -o-transition-property: all;
          transition-property: all;
}

@media screen and (min-width: 19.4375rem) {
  /* Text Elements */

  h1 span.heading-text-1 {
    color: #f6f4f4;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  }

  h3 span.heading-text-2 {
    color: #fff;
  }

  /* Layout Elements */

  body > .row > [class*='small-'].column-1 {
    min-height: 35vmax;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:         linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-attachment: scroll, scroll;
    background-position: left top, center center;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;
    background-size: auto auto, cover;
    background-repeat: no-repeat, no-repeat;

    background-blend-mode: normal, normal;
  }

  body > .row.row-2 {
    min-width: 100vmin;
    max-width: 100vmax;
    background-color: #010000;
  }

  body.grid-1 {
    background-image: url('https://red-resources.coffeecup.com/storage/common/url-placeholder.png');
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  body > .row > [class*='small-'].column-2 {
    background-color: #383c4d;
  }

  div.responsive-picture.logo {
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  a.social-image.linkedin {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:         linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  a.social-image.instagram_mk {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:         linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }
}

@media screen and (min-width: 27.5rem) {
  /* Text Elements */

  h3 span.heading-text-2 {
    color: #fff;
  }

  /* Layout Elements */

  body > .row > [class*='small-'].column-1 {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:         linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
  }

  body > .row > [class*='small-'].column-2 {
    background-color: #383c4d;
  }

  div.responsive-picture.main-image {
    max-height: 450px;
  }
}

@media screen and (min-width: 40rem) {
  /* Text Elements */

  h1.header1 {
    color: #fbf4f4;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  }

  h3 span.heading-text-2 {
    color: #fff;
  }

  h3.header3 {
    text-align: center;
  }

  /* Layout Elements */

  body > .row > [class*='small-'].column-1 {
    min-height: 45vmax;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:         linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-attachment: scroll, scroll;
    background-position: left top, center center;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;
    background-size: auto auto, cover;
    background-repeat: no-repeat, no-repeat;

    background-blend-mode: hard-light, normal;
  }

  body > .row.row-2 {
    min-width: 100vmin;
    max-width: 100vmax;
  }

  body > .row > [class*='small-'].column-2 {
    background-color: #383c4d;
  }

  .container.gallery-content {
    margin-top: 3vw;
  }

  div.responsive-picture.logo {
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  a.social-image.linkedin {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:         linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  a.social-image.instagram_mk {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-image:         linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%);
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  div.responsive-picture.main-image {
    max-height: 650px;
  }
}

@media screen and (min-width: 56.6875rem) {
  /* Layout Elements */

  body > .row > [class*='small-'].column-2 {
    background-color: #383c4d;
  }

  body > .row > [class*='small-'].column-1 {
    background-blend-mode: hard-light, normal;
  }
}

@media screen and (min-width: 64rem) {
  /* Text Elements */

  h1 span.heading-text-1 {
    color: #f9f3f3;
    text-transform: capitalize;
    font-size: 3.75rem;
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  }

  h1.header1 {
    text-align: center;
  }

  /* Layout Elements */

  body > .row > [class*='small-'].column-1 {
    padding-right: .937rem;
    min-height: 50vmax;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-image:         linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgba(29, 30, 33, .5) 100%), url('https://user-images.githubusercontent.com/27669453/38774755-a2451226-4024-11e8-8c45-ea390868d374.jpg');
    background-attachment: scroll, scroll;
    background-position: left top, center center;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;
    background-size: auto auto, cover;
    background-repeat: no-repeat, no-repeat;

    background-blend-mode: hard-light, normal;
  }

  body > .row > [class*='small-'].column-2 {
    background-color: #383c4d;
  }

  .container.gallery-content {
    margin-top: 2vw;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }

  div.responsive-picture.logo {
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  li.list-item.list-item-1 {
    color: #fff;
  }

  li.list-item.list-item-2 {
    color: #fff;
  }

  li.list-item a.list-item-text-1 {
    color: #fff;
  }

  li.list-item a.list-item-text-2 {
    color: #fff;
  }
}